<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Notice</title>
    <link rel="stylesheet" href="delete-notice.css">
</head>
<body class="background">
    <div class="heading">
        <h1><b>Delete Notice</b></h1>
    </div>
    <div class="form">
        <input type="text" name="notice" id="notice" placeholder="Enter notice heading">
        <input type="text" name="date" id="date" placeholder="yyyy-MM-dd">
        <button>Delete</button>
    </div> 
</body>
</html>