<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Board</title>
    <style>
    .heading{
        text-align: center;
        color: blue;
        padding-top: 4px;
    }
    .hyperlink{
        color: red;
        text-align: center;
    }
    .background{
        background-image:url(../static/Images/notice-board.jpg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    
    </style>
</head>
<body class="background">
    <div class="heading">
        <h1><b>Notice Board</b></h1>
    </div>
    <div class="hyperlink">
        <a href = "http://127.0.0.1:5000/notices" target="_blank">Click here to play with notices!</a>
    </div>
    
    <table border="3" align="center">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for row in notices %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.date}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.Description}}</td>
        </tr>
        {% endfor %}
    </table>
    <table border="3" align="center">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for row in Today_notices %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.date}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.Description}}</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>